.services {
	background-image: url(c:/users/thato/portfoliosov/src/pictures/light.webp);
	background-color: black;
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
h1.heading {
	font-size: 60px;
	text-align: center;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
p.heading.p__color {
	margin-bottom: 0;
	text-align: center;
	line-height: 1.2;
}
.services__box {
	border-radius: 10px;
	width: 100%;
	background-color: #16a2ffce;
	padding: 55px;
	transition: 0.4 ease;
}
.services__box:hover {
	transform: translateY(5px);
	background-image: linear-gradient(90deg, #f61b10, #ef0963);
}

.services__box:hover .icon {
	color: snow !important  ;
}

.services__box:hover p.service__text.p__color {
	color: snow;
}
.icon {
	font-size: 54px;
	font-weight: 400;
	margin-bottom: 23px;
	display: inline-flex;
	color: #f9004d;
}
p.service__text.p__color {
	margin-bottom: 0;
}
h1.service__text {
	font-size: 19px;
	font-family: Poppins, sans-serif;
	padding: 10px 0px;
}
